@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins','sans-sarif';
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    background: url("HOUSE2.jpg") no-repeat;
    background-size: cover;
    background-position: center;

}
.form1{
    margin-top: 20px;
    margin-left: 150px; 
    justify-content: center;
    align-items: center;
    width: 450px;
    height:600px;
    background-color: antiquewhite;
    gap: 5px;
    padding: 20px;
    Border:2px solid white;
    padding-left: 105px;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(5px);

}
.form1 input{
    margin: 8px;
    width: 200px;
    border-radius: 4px;
    border: 2px solid black;
    text-align: center;
    font-size: 0.9em;
}
.ocean{
    padding-left: 25px;
    padding-top: 20px;
    font-size: 1.2em;
}
.ocean p{
    margin-right: 15px;
    padding-right: 5px;
    font-size: 1.2em;
    color: white;
    
}
.scroll{
    margin-right: 15px;
    padding-right: 5px;
    font-size: 0.8em;
    text-align: center;
}
button{
    width: 200px;
    height: 40px;
    margin-top: 25px;
    color:white;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:1em;
    color: #000;
    font-weight: 500;
}
button:hover{
    background-color:red;
    color:white;
}
.animated-text{
    display: inline-block;
    margin-top: 10px;
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    color:#0046FF;
}
.at{
    font-family: monospace;
    width: 100%;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation:
      typing 2s ,
      cursor .4s step-end infinite alternate;
}
@keyframes cursor{
    50%{
        border-color: transparent;
    }
}
@keyframes typing{
    from{ width:0}
}
h3{
    color:white; 
}